<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peliculas2</title>
  
    <link rel="stylesheet" href="~/Peliculas2.styles.css" asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="content-image">
            <img src="https://img.freepik.com/vector-premium/diseno-logotipo-camara-video-vintage-produccion-peliculas-cine_227744-487.jpg?w=2000" />
        </div>
        <nav class="navbar" >
                    <ul class="navbar-links">
                        <li >
                            <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    <li class="li">
                            <a  asp-area="" asp-controller="Peliculas" asp-action="Index">Peliculas</a>
                        </li>
                    </ul>           
        </nav>
    </header>
@*        <div>
        <partial name="Peliculas/Index.cshtml">
       </div>
    *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
